@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

/* Custom Scrollbar for your modern dark theme */
::-webkit-scrollbar { 
  width: 6px; 
}
::-webkit-scrollbar-track { 
  background: #fafafa; 
}
::-webkit-scrollbar-thumb { 
  background: #1a1a1a; 
  border-radius: 10px; 
}

@keyframes fade-in {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fade-in {
  animation: fade-in 1s ease-out forwards;
}